.modo-clase {
  background-color: #e3f2fd;
  color: #0d47a1;
  padding: 2rem;
  border-radius: 12px;
}

.modo-artista {
  background-color: #fce4ec;
  color: #880e4f;
  padding: 2rem;
  border-radius: 12px;
}

.btn-clase {
  background: #1976d2;
  color: white;
  padding: 10px 20px;
}

.btn-artista {
  background: #c2185b;
  color: white;
  padding: 10px 20px;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}


