.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f7e7da;
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profileImage {
  border-radius: 50%;
  border: 3px solid #920909;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.textInfo h1 {
  margin: 0;
  font-size: 2rem;
  color: #1a1a1a;
}

.textInfo p {
  font-size: 1.1rem;
  color: #333;
}

.classDetails h2 {
  padding-bottom: 0.5rem;
  /* color: #0d47a1; */
  border-bottom: 2px solid #920909;
}

.classDetails ul {
  list-style: none;
  padding: 0;
}

.classDetails li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #920909;;
  color: #444
}

.cta {
  margin-top: 2rem;
  text-align: center;
}

.ctaButton {
  background-color: #920909;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.ctaButton:hover {
  background-color: #cf2323;
}
