.container {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  background-color:#f7db8f;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  margin: 0 auto;
  /* background-color: white; */
  min-height: 100vh;
  /* padding: 2rem; */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar {
  width: 100%;
  background-color: #1a1a1a;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar button {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.navbar button:hover {
  background-color: #333;
}

